.FilmCategoryTitle{
    color: $third-color;
    font-family: $font;
    text-align: center;
    text-transform: uppercase;
}
.FilmCategory{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px auto ;
    place-items: center;
    figure{
        height: 70%;
        text-align: center;
        a{
            color: inherit;
            text-decoration: none;
        }
        img{
            border: 5px solid $secondary-color;
            border-radius: 20px;
            height: 100%;
        }
        figcaption{
            text-align: center;
            color: $secondary-color;
            font-family: $font;
            text-transform: uppercase;
        }
    }
}
.buttonsPages{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 3%;
    a{
        text-decoration: none;
        text-transform: uppercase;
        background-color: $secondary-color;
        color: $third-color;
        font-family: $font;
        font-weight: 600;
        padding: 5px;
        border-radius: 20px;
    }
}