* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home article {
  text-align: center;
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.home .carousel {
  margin: 3%;
  height: 40vh;
  position: relative;
}
.home .carousel .slider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s;
  align-items: center;
  border-radius: 55px 0;
}
.home .carousel .slider.active {
  opacity: 1;
}
.home .carousel .titleFilmPopulaire {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 10px;
  color: #FFFFFF;
  text-shadow: #1394DA 2px -5px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  text-align: center;
}
.home .carousel .titleFilmPopulaire.active {
  opacity: 1;
}
.home .carousel .next,
.home .carousel .previous {
  color: #FFFFFF;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.home .carousel .next {
  right: 1rem;
}
.home .carousel .previous {
  left: 1rem;
}
.home .filmPopular {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
.home .filmPopular h2 {
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}
.home .filmPopular .sliderFilmPopulaire {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.home .filmPopular .sliderFilmPopulaire a {
  text-decoration: none;
  color: inherit;
}
.home .filmPopular .sliderFilmPopulaire figure {
  height: 300px;
  margin: 10% 5%;
}
.home .filmPopular .sliderFilmPopulaire figure .posterPopularFilm {
  height: 100%;
  border: 5px solid #FFFFFF;
  border-radius: 20px;
}
.home .filmPopular .sliderFilmPopulaire figcaption {
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.headerUp {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
}
.headerUp .menu-nav {
  list-style: none;
  margin: auto 0;
}
.headerUp .menu-nav li {
  margin: 0 2px;
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px;
}
.headerUp .searchBar {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
.headerUp .searchBar input {
  border: none;
  outline: none;
  background: #FFFFFF;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  width: 350px;
  border-radius: 55px 0 0 55px;
}
.headerUp .searchBar i {
  color: #1B1B1B;
  font-size: 20px;
  background: #FFFFFF;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.headerUp .searchBar i::after {
  height: 100%;
  width: 0%;
  content: "";
  background: #1394DA;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}
.headerUp .searchBar i:hover::after {
  width: 100%;
}
.headerUp .searchBar i:hover {
  color: #FFFFFF;
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  z-index: 46;
  right: 1rem;
  top: 0;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 1.5rem;
  width: 28px;
  height: 3px;
  background: #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 28px;
  height: 3px;
  background: #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 3px;
  background: #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger.open {
  position: fixed;
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn_burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn_burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.singleMovie .singleFilmUp {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  margin: 20px 0;
}
.singleMovie .singleFilmUp .singleFilmTitle {
  color: #FFFFFF;
  text-transform: uppercase;
}
.singleMovie .singleFilmUp .singleFilmStatus {
  color: #1394DA;
  margin: auto 10px;
}
.singleMovie .singleFilmMid {
  margin: 40px;
}
.singleMovie .singleFilmMid .singleFilmPosterResume {
  display: flex;
  justify-content: space-between;
}
.singleMovie .singleFilmMid .singleFilmPosterResume .singleFilmLeft {
  height: 60vh;
}
.singleMovie .singleFilmMid .singleFilmPosterResume .singleFilmLeft img {
  height: 100%;
  border: 5px solid #FFFFFF;
  border-radius: 30px;
}
.singleMovie .singleFilmMid .singleFilmPosterResume .singleFilmCenterDown {
  margin: auto 10px;
  width: 100%;
}
.singleMovie .singleFilmMid .singleFilmPosterResume .singleFilmCenterDown .singleFilmCenterDownParag {
  padding: 10px;
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  background-color: rgba(0, 0, 0, 0.52);
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
}
.singleMovie .singleFilmMid .info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.singleMovie .singleFilmMid .info .singleFilmCenter {
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}
.singleMovie .singleFilmMid .info .singleFilmCenter h2 {
  font-size: 1.2rem;
  margin: 30px 0 10px;
  color: #1394DA;
}
.singleMovie .singleFilmMid .info .singleFilmRight {
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  margin: 10px auto;
}
.singleMovie .singleFilmMid .info .singleFilmRight .miniTitle {
  color: #1394DA;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.singleMovie .singleFilmMid .NotAvailable {
  font-family: "Space Grotesk", sans-serif;
  color: #1394DA;
  text-transform: uppercase;
}
.singleMovie .singleFilmDown {
  margin: 30px auto;
}
.singleMovie .singleFilmDown .FilmActorTitle {
  color: #1394DA;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.singleMovie .singleFilmDown .actorsSingleFilm {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
  grid-gap: 20px;
}
.singleMovie .singleFilmDown .actorsSingleFilm img {
  border-radius: 40px 0;
}
.singleMovie .singleFilmDown .actorsSingleFilm h4 {
  font-family: "Space Grotesk", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
}
.singleMovie .singleFilmDown .actorsSingleFilm h4 .namePlaceholder {
  color: #1394DA;
}
.singleMovie .singleFilmDown .actorsSingleFilm a {
  color: inherit;
  text-decoration: none;
}

.singleActor .singleActorUp {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  margin: 20px 0;
}
.singleActor .singleActorUp .singleActorTitle {
  color: #FFFFFF;
  text-transform: uppercase;
}
.singleActor .singleActorCenter {
  margin: 40px;
  display: flex;
  padding: 20px;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 50px;
}
.singleActor .singleActorCenter .singleActorPhoto {
  height: 40vh;
  align-items: center;
}
.singleActor .singleActorCenter .singleActorPhoto img {
  height: 100%;
  border-radius: 30px 0;
}
.singleActor .singleActorCenter .singleActorinfo {
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  margin: auto 30px;
}
.singleActor .singleActorCenter .singleActorinfo .miniTitle {
  color: #1394DA;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.singleActor .singleActorCenter .NotAvailable {
  font-family: "Space Grotesk", sans-serif;
  color: #1394DA;
  text-transform: uppercase;
}
.singleActor .singleActorDown {
  display: flex;
  justify-content: center;
  margin: auto;
}
.singleActor .singleActorDown .singleActorMovie {
  margin: 0 20px 20px;
}
.singleActor .singleActorDown .singleActorMovie h3 {
  color: #1394DA;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.singleActor .singleActorDown .singleActorMovie p {
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 10px;
}
.singleActor .singleActorDown .singleActorMovie a {
  color: inherit;
  text-decoration: none;
}

.FilmCategoryTitle {
  color: #1394DA;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.FilmCategory {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px auto;
  place-items: center;
}
.FilmCategory figure {
  height: 70%;
  text-align: center;
}
.FilmCategory figure a {
  color: inherit;
  text-decoration: none;
}
.FilmCategory figure img {
  border: 5px solid #FFFFFF;
  border-radius: 20px;
  height: 100%;
}
.FilmCategory figure figcaption {
  text-align: center;
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}

.buttonsPages {
  display: flex;
  justify-content: space-between;
  margin: 0 5% 3%;
}
.buttonsPages a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #1394DA;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  padding: 5px;
  border-radius: 20px;
}

@media screen and (max-width: 1100px) {
  .home .filmPopular .sliderFilmPopulaire {
    grid-template-columns: repeat(4, 1fr);
  }

  .FilmCategory {
    grid-template-columns: repeat(3, 1fr);
  }

  .singleActor .singleActorCenter {
    display: block;
    text-align: center;
  }
  .singleActor .singleActorDown {
    display: block;
    text-align: center;
  }

  header .dropdownMenu .dropdown-content {
    display: block;
    position: static !important;
    transform: none !important;
  }

  .headerUp {
    display: block;
    padding: 0;
  }
  .headerUp .searchBar {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .headerUp .searchBar input {
    width: 90%;
  }
  .headerUp .menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 45;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 25% 0 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.95);
  }
  .headerUp .menu-nav li {
    text-align: center;
    font-size: 28px;
    padding: 25px;
    display: block;
  }
  .headerUp .menu-nav.open {
    display: flex;
  }
  .headerUp.open {
    visibility: visible;
  }
  .headerUp .menu-btn {
    visibility: visible;
  }
}
@media screen and (max-width: 900px) {
  .singleMovie .singleFilmUp .singleFilmTitle {
    font-size: 1.5rem;
  }
  .singleMovie .singleFilmMid .singleFilmPosterResume {
    display: block;
    text-align: center;
  }
  .singleMovie .singleFilmMid .singleFilmPosterResume .singleFilmCenterDown {
    margin: 10px;
  }
  .singleMovie .singleFilmMid .info {
    display: block;
    text-align: center;
  }
  .singleMovie .singleFilmMid .info .Trailer {
    margin-top: 5%;
  }
  .singleMovie .singleFilmMid .info .Trailer iframe {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 900px) {
  .headerUp {
    display: block;
    padding: 0;
  }
  .headerUp .searchBar {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .headerUp .searchBar input {
    width: 90%;
  }
  .headerUp ul {
    display: none;
    flex-direction: column;
  }
  .headerUp ul li {
    text-align: center;
    font-size: 28px;
    padding: 25px;
    display: block;
  }
  .headerUp ul.open {
    display: flex;
  }
  .headerUp .menu-btn {
    visibility: visible;
  }

  .home .filmPopular .sliderFilmPopulaire {
    grid-template-columns: repeat(3, 1fr);
  }

  .FilmCategory {
    grid-template-columns: repeat(2, 1fr);
  }

  .singleMovie .singleFilmDown .FilmActorTitle {
    text-align: center;
  }
  .singleMovie .singleFilmDown .actorsSingleFilm {
    margin-top: 10%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .home article {
    font-size: 1.5rem;
  }
  .home .carousel {
    height: 20vh;
  }
  .home .carousel .slider {
    height: 100%;
  }
  .home .carousel .titleFilmPopulaire {
    font-size: 0.8rem;
  }
  .home .filmPopular .sliderFilmPopulaire {
    grid-template-columns: repeat(2, 1fr);
  }

  .FilmCategory {
    grid-template-columns: repeat(1, 1fr);
  }

  .singleMovie .singleFilmUp .singleFilmTitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .home .filmPopular .sliderFilmPopulaire {
    grid-template-columns: repeat(1, 1fr);
  }

  .singleMovie .singleFilmDown .actorsSingleFilm {
    grid-template-columns: repeat(1, 1fr);
  }
}
.error404 {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 50%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.PageNotFound {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}

#svgWrap_1,
#svgWrap_2 {
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgWrap_1,
#svgWrap_2,
.error404 {
  animation: hueRotate 6s ease-in-out 3s infinite;
}

#id1_1,
#id2_1,
#id3_1 {
  stroke: #ff005d;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id1_2,
#id2_2,
#id3_2 {
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id3_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

#id2_1 {
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

#id1_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}

@keyframes drawLine1 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes drawLine2 {
  0% {
    stroke-dashoffset: -735px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes drawLine3 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes flicker1 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  3% {
    stroke: transparent;
  }
  4% {
    stroke: #ff005d;
  }
  6% {
    stroke: #ff005d;
  }
  7% {
    stroke: transparent;
  }
  13% {
    stroke: transparent;
  }
  14% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker2 {
  0% {
    stroke: #ff005d;
  }
  50% {
    stroke: #ff005d;
  }
  51% {
    stroke: transparent;
  }
  61% {
    stroke: transparent;
  }
  62% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker3 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  10% {
    stroke: transparent;
  }
  11% {
    stroke: #ff005d;
  }
  40% {
    stroke: #ff005d;
  }
  41% {
    stroke: transparent;
  }
  45% {
    stroke: transparent;
  }
  46% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker4 {
  0% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  30% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  31% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  32% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  36% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  37% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  41% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  42% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  85% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  86% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  95% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  96% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}
@keyframes fadeInText {
  1% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  70% {
    color: #ff005d;
    text-shadow: 0px 0px 14px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
body {
  background-color: #1B1B1B;
}

header .dropdownMenu {
  position: relative;
  display: inline-block;
}
header .dropdownMenu .dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  border-radius: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .dropdownMenu .dropdown-content a {
  font-family: "Space Grotesk", sans-serif;
  color: #1B1B1B;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
header .dropdownMenu .dropdown-content a:hover {
  background-color: #1B1B1B;
  color: #FFFFFF;
}
header .dropdownMenu:hover .dropdown-content {
  display: block;
}
header .headerDown {
  margin: 0 auto;
  text-align: center;
}
header .headerDown .listGenre {
  margin: 5px auto 10px;
}
header .headerDown .listGenre h4 {
  color: #1394DA;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
header .headerDown .listGenre-content {
  margin: 10px 0;
}
header .headerDown .listGenre-content a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2px;
  color: #FFFFFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #1394DA;
  padding: 2px;
}
header .headerDown .listGenre-content a:hover {
  color: #1394DA;
  background-color: #FFFFFF;
}

.line {
  margin: 2%;
  height: 2%;
  border-bottom: 1px solid #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
